rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
      allow read, write: if false;

      match /books/{book} {
        allow get: if request.auth.token.permissions.VIEW_BOOKS || request.auth.token.permissions.CHECK_OUT;
        allow list: if request.auth.token.permissions.VIEW_BOOKS;
        allow create, update: if request.auth.token.permissions.MANAGE_BOOKS;
        allow delete: if false;
      }

      match /{path=**}/copies/{copy} {
        allow read: if request.auth.token.permissions.VIEW_BOOKS || request.auth.token.permissions.CHECK_IN || request.auth.token.permissions.CHECK_OUT;
        allow create, update, delete: if request.auth.token.permissions.MANAGE_BOOKS;
      }

      match /{path=**}/reviews/{review} {
        allow read: if request.auth.token.permissions.VIEW_BOOKS;
        allow delete: if request.auth.token.permissions.MANAGE_BOOKS;
      }

      match /libraries/{library} {
        allow create, delete, list: if false;
        allow get;
        allow update: if library in request.auth.token.permissions.MANAGE_LIBRARY;
      }

      match /{path=**}/users/{user} {
        allow get: if request.auth.uid == user;
        allow list: if request.auth.token.permissions.MANAGE_USERS || request.auth.token.permissions.CHECK_OUT;
        allow create, delete: if false;
        allow update: if request.auth.token.permissions.MANAGE_USERS && user != request.auth.uid;
  }

      match /checkouts/{checkout} {
        allow get: if request.auth.token.permissions.CHECK_OUT || request.auth.token.permissions.MANAGE_CHECKOUTS;
        allow list: if request.auth.token.permissions.CHECK_OUT || request.auth.token.permissions.MANAGE_CHECKOUTS;
        allow update: if request.auth.token.permissions.MANAGE_CHECKOUTS;
        allow create, delete: if false;
      }

      match /book_requests/{book_request} {
        allow get, list: if request.auth.token.permissions.MANAGE_BOOKS;
        allow create: if request.auth.token.permissions.VIEW_BOOKS;
        allow update, delete: if false;
    }
  }
}