html,
body {
  /* height: 100%; */
  position: relative;
}
.content {
  display: block;
  position: relative;
  /* padding-bottom: 100px; */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.page {
  min-height: calc(100vh - 128px);
}
