#classicformpage .view {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#classicformpage .gradient {
  background: linear-gradient(
    0deg,
    rgba(63, 191, 63, 0.3),
    rgba(63, 191, 63, 0.4) 100%
  );
}

/*#classicformpage .card {*/
/*    background-color: rgba(126, 123, 215, 0.2);*/
/*}*/

#classicformpage h6 {
  line-height: 1.7;
}
